@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}

header{
  background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(../img/bus3.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
}

ul{
  float: right;
  list-style-type: none;
  margin-top: 25px;
}
.register{
  width: 382px;
  margin: auto;
  padding: 80px;
  background-color: #23463f;
  border-radius: 15px;
}

.wrapper{
  position: absolute;
  justify-content: center;
  max-width: 1000px;
  width: 100%;
  background: transparent;
  padding: 80px;
  padding-left: 40%;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  
}


.wrapper h2{
  position: relative;
  font-size: 22px;
  font-weight: 600;
  color: white;
}
.wrapper h2::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 28px;
  border-radius: 12px;
  background: #4070f4;
}
.wrapper form{
  margin-top: 30px;
}
.wrapper form .input-box{
  height: 52px;
  margin: 18px 0;

}
form .input-box input{
  height: 100%;
  width: 100%;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-weight: 400;
  color: white;
  border: 1.5px solid #C7BEBE;
  border-bottom-width: 2.5px;
  border-radius: 6px;
  transition: all 0.3s ease;
  border-color: white;
  background-color: transparent;
}
.input-box input:focus,
.input-box input:valid{
  border-color: #4070f4;
}
form .policy{
  display: flex;
  align-items: center;
}
form h3{
  color: #707070;
  font-size: 14px;
  font-weight: 500;
  margin-left: 10px;
}
.input-box.button input{
  color: #fff;
  letter-spacing: 1px;
  border: none;
  background: #4070f4;
  cursor: pointer;
}
.input-box.button input:hover{
  background: #0e4bf1;
}
form .text h3{
 color: white;
 width: 100%;
 text-align: center;
}
form .text h3 a{
  color: #4070f4;
  text-decoration: none;
}
form .text h3 a:hover{
  text-decoration: underline;
}

.title{
  position: absolute;
  top: 48%;
  transform: translate(-50%,-50%);
  padding-bottom: 620px;
  padding-left:28%;
  color: white;
}


.logo img{
  float: left;
  padding-left: 0%;
  width: 60px;
  height: auto;
  margin-top: 20px;

}

.main{
  max-width: 1400px;
  margin: auto;
}

.button1{
  position: absolute;
  top: 78%;
  left: 51%;
  transform: translate(-50%,-50%);


}
