@charset "ISO-8859-1";

.title h1{
	text-align: center;
	top: 15px;
	color: Black;
	font-size: 30px;
	margin-left: 8%;
	position: relative;
	align-items: center;
}
.title{
	background-color: #98f5ff;
	width: 50%;
	align-items: center;
	padding-left: 120px;
	left: 300px;
	position: relative;
}

.title p{
	text-align: center;
	width:50%;
	top: 15px;
	color: Black;
	font-size: 20px;
	margin-left: 8%;
	position: relative;
	align-items: center;
}
ul{
	float: right;
	list-style-type: none;
	margin-top: 15px;

}

ul li{
	display: inline-block;
	padding: 15px;

}
.title2 h1{
	text-align: center;
	top: 15px;
	color: Black;
	font-size: 30px;
	margin-left: 8%;
	position: relative;
	align-items: center;
}
.title2{
	background-color: #FFFA8A;
	width: 50%;
	align-items: center;
	padding-left: 120px;
	left: 300px;
	position: relative;
}

.title2 p{
	text-align: center;
	top: 15px;
	color: Black;
	font-size: 30px;
	margin-left: 8%;
	position: relative;
	align-items: center;
}